

    <script src="https://kit.fontawesome.com/f52626a245.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href='https://fonts.googleapis.com/css?family=Archivo Narrow' rel='stylesheet'>

    <link rel="stylesheet" href="/public/assets/deermentor.css">
    <link rel="stylesheet" href="/public/assets/utils.css">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<body>

<section>
<div class="navigation">


 <div>
<h1>DeerMentor<i class="fas fa-chalkboard main-logo"></i></h1>
 </div> 


 <div class="nav-int">
  <div>
    <a href="/Projects/myLearning"> MyLearning</a>
  </div> 
  
   <div>
    <a href="">Account</a>
  </div>  
  
 <a href="/Projects/login"><i class="fas fa-sign-out-alt fa-2x" style="color: white;"></i></a>  </i>
 </div>
 
</div>

</section>

<div class="dashb">

  <div class="sideNav">
    <div > <p id="main">Dashboard<p></div>
    
    <div ><p id="account">Account</p> </div>
    <div ><p id="settings">Settings</p> </div>
  </div>
  <div class="boxArea">
  <div class="top">
    <div>Welcome back <%= info.name %> !</div>
    <div  id="imgs2" ><img src="https://www.w3schools.com/howto/img_avatar.png" alt="" srcset="" style="border-radius: 50%; width:50px;"></div>
    

  </div>
<div class="BottoM">
  <div id="close" class="no-show"><i class="fas fa-chevron-left fa-2x "></i></div>

<div class="Appointments no-show" id="Appointment">
  <form action="" method ="POST" class="App" id="form0">
    <!-- <label for="birthdaytime">REQUEST AN AUDIO-CHAT APPOINTMENT</label>
    <input type="datetime-local" id="birthdaytime" name="value"> -->
    
    <div class="apts">
    Current:
    <% if (info.Appointments) { %>
      <div class="appt"> <%= info.AppointDate %></div>
      <%} else { %>
        <div > <%= info.AppointDate %></div>
      <% } %>




</div>
<% if (info.Appointments) { %>
  <h3>Request another chat appointment</h3>
  <%} else { %>
    <h3>Request a chat appointment</h3>
  <% } %>


  <div class="appt" style="background-color:crimson;"> Cancel Appointment</div>

 <label for="meeting-time">Choose a time for your appointment:</label>

<input type="datetime-local" id="meeting-time"
       name="appointment" value="2021-26-12T19:30"
       min="2022-01-01T00:00" max="2022-11-11T00:00">

<input type="submit"  value="REQUEST">

  </form>




</div>

<div class="Progress no-show" id="progress">
  <div class="internal">

  <div class="projects">
    
    <h1 id="total">0%</h1>
     <h3 id="completed">You completed 0/10 of Tutorials</h3>
  </div>
  <div class="projects">
   <h1>0%</h1>
      <h3>You completed 0/10 of Practices</h3> 
   
 </div>
 <div class="projects">
 <h1>0%</h1>
  <h3>You Completed 0/7 of the Objectives</h3> 
</div>
<div class="projects">
<h1>0%</h1>
  <h3>You Completed 0/3 of the Projects</h3> 
</div>
</div>
</div>
<div class="Progress no-show" id="progress2">
  <div class="internal2">

  <div class="projects2">
    
    <h1 id="total"><i class="far fa-square"></i></h1>
     <h3 id="completed">Create github Account</h3>
  </div>
  <div class="projects2">
   <h1><i class="far fa-square"></i></h1>
      <h3>Create Personal website</h3> 
   
 </div>
 <div class="projects2">
 <h1><i class="far fa-square"></i></h1>
  <h3>Finish the tutorials</h3>  
</div>
<div class="projects2">
<h1><i class="far fa-square"></i></h1>
  <h3>Finish practices</h3> 
</div>
<div class="projects2">
  <h1><i class="far fa-square"></i></h1>
    <h3>3 Projects for your portfolio</h3> 
  </div>
  <div class="projects2">
    <h1><i class="far fa-square"></i></h1>
      <h3>Set up Resume</h3> 
    </div>
</div>
</div>
  
  <div id="mainOpt" class="botBox ">


    <div class="unit" id="Progress">
      <i class="fas fa-chart-line fa-5x" ></i> 
      <h4>Progress</h4>
     
    </div>
    <a href="/Projects/tutorials" style="color: black;">
    <div class="unit">
      
      <i class="fas fa-chalkboard-teacher fa-5x"></i>
      <h4>Tutorials</h4>
     
    </div>
</a>

    <div class="unit" id="Appt">
      
      <i class="far fa-calendar-check fa-5x"></i>
      <h4>Appointments</h4>
     
    </div>
    <div class="unit" id="Progress2">
      
      <i class="fas fa-tasks fa-5x"></i>
      <h4>Objectives</h4>
     
    </div>


    
  </div>
 

<div  id="accoOpt" class="account no-show">
  <h3>Account information</h3>

  <form action="" class="Form">

  <label for="">Name:</label>  <label for=""><%= info.name %></label>    
  <label for="">Email:</label>  <label for=""><%= info.email %></label>  
  <label for="">Occupation:</label>  <label for="">Student</label>  
  <label for="">Location:</label>  <label for="">London</label>  
  <label for="">Age:</label>  <label for="">21</label>  
  <label for="">Avatar:</label> <div id="imgs" class="image-style"><img src="https://www.w3schools.com/howto/img_avatar.png" alt="" srcset="" style="border-radius: 50%; width:50px;" id="img"></div>
 
  </form>
<!-- <img src="%= info.name %>" alt="" srcset=""> -->
 </div>



<div id="settOpt"   class="settings no-show ">
<div class="match-set"><h3>Reset password</h3> <h3 id="match">Passwords must match</h3></div>

<form method="POST"  action= "" >
<label for="">Old password</label><input type="password" name="password">
<label for="">Enter New password</label><input type="password" name="npassword" id="ps1">
<label for="">Re-enter password</label><input type="password" name="npassword2" id="ps2">


<input type="submit" value= submit>
</form>
<form  method="POST"  action= "">
              <label for="">Change Avatar(Enter URL)</label><input type="text" name="url">
<input type="submit" value= submit>
</form>



</div>

 
  </div>
</div>
</div>




<div class="lower">
   
  <div class="lbox red" id="tut"><h1 class="atag"><a href="/Projects/tutorials">Tutorials </a> </h1></div>
   <div class="lbox red" id="prac"><h1 class="atag"><a href="/Projects/Practice">Practice </a> </h1></div>
  <div class="lbox" id="proj"> <h1 class="atag"><a href="/Projects/Catalogue">Projects </a> </h1></div>
  <div class="lbox" id="chat"><h1 class="atag"><a href="/Projects/Forum">Forum</a> </h1></div>
 
</div>



<div class="dashboard">



  <div class="main-box">
       <h2>More Resources 
      
       </h2>
  </div>
  <div class="Side-box">
    <div class="ul">
<ul class="sideOpt">
   <li><p>Progress</p>   <i class="fas fa-spinner"></i></i> </li>
   <li><p>Resources</p>    <i class="fas fa-tasks"></i></li>
   <li><p href><a href="https://www.youtube.com/channel/UCCdedG6AsWpFTB7l_BUI0nA">DeerMentor Playlist</p>  <i class="fa fa-youtube fa-2x" style="color:#FF0000 ;"></i></a>   </li>
   <li><p>DeerMentor Twitter</p>   <i class="fa fa-twitter fa-2x" style="color:#1DA1F2;"></i></li>


</ul>
  </div>

  <div class="cal">
  <i class="far fa-calendar-alt fa-4x"></i>
</div>
  <div>

   
  </div>

  </div>



</div>


<div class="footer">
  <p> Copyright &copy; 2021 DeeraCode.com</p>
   
  
  </div>



      <iframe id="uploader_iframe" name="uploader_iframe" style="display: none;"></iframe>

</body>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
var User =<%-JSON.stringify(info)%> ;

window.addEventListener('DOMContentLoaded', (e) => {
  e.preventDefault()
  console.log(`hey link is ${User.avatar}`)
  var imgs =  `"${User.avatar}"`
  document.getElementById("img").src = `"${User.avatar}"`;
  document.getElementById('imgs').innerHTML = '<img src="' + User.avatar + '" '+ 'style="border-radius: 50%; width:50px;" >';
  document.getElementById("imgs2").src = `"${User.avatar}"`;
  document.getElementById('imgs2').innerHTML = '<img src="' + User.avatar + '" '+ 'style="border-radius: 50%; width:50px;" >';
 
 
  // document.getElementById('imgs')
});

document.getElementById("total").innerText = `${User.Value * 10 }%`
document.getElementById("completed").innerText = `You completed ${User.Value}/10 of the Tutorials`






</script>


<script src="/public/assets/main.js"></script>
<script src="/public/assets/utils.js"></script>
