
    <script src="https://kit.fontawesome.com/f52626a245.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href='https://fonts.googleapis.com/css?family=Archivo Narrow' rel='stylesheet'>

    <link rel="stylesheet" href="/public/assets/deermentor.css">
    <link rel="stylesheet" href="/public/assets/utils.css">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<body>

<section>
<div class="navigation">


 <div>
<h1>DeerMentor<i class="fas fa-chalkboard main-logo"></i></h1>
 </div> 


 <div>
 <a href="/Projects/profile"><i class="fas fa-sign-out-alt fa-2x" style="color: white;"></i></a>  </i>
 </div>

 
</div>

</section>



<section class="HTML">
  <% if (!info.Progress.HTML) { %>
    <div></div>
    <%} else { %>
      <div class="complete-section">
      <form  method="POST"  action= "./tutorials" >
      <div class="card">
        <h3>Section 1: HTML <i class="fab fa-html5"></i></h3>
    <p> Hey <%= info.name %>, Let Start with  HTML learning 
    first. HTML is generally the first step of Web Development.
    It is the text document of a website before
    anything is applied to it. HTML should be the 
    quickest to learn. Remember, HTML
    is NOT a coding language and is simply syntax 
    </p>
    <h3>For HTML this will be your Gameplan </h3>
    <ul class="gameplan">
      <li>-Watch The Tutorial</li>
      <li>-Schedule a chat after you are done</li>
      <li>-Prepare to move on to the CSS section</li>
    </ul>
    <h3>Lets start with this HTML tutorial by Brad Traversy</h3>
<div class="video">
  
  <iframe width="560" height="315" 
  src="https://www.youtube.com/embed/UB1O30fR-EE" title="YouTube video player" frameborder="0"
   allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div class="checklist">

<h3> Check each task off after you are done and press submit</h3>

<ul>
    <li> <p>First 20 Minutes </p>  <input type="checkbox" name="b1" id="checkbox1"> </li>
    <li> <p>Second 20 Minutes </p>   <input type="checkbox" name="b2" id="checkbox2"> </li>
    <li> <p>Third 20 Minutes </p>  <input type="checkbox" name="b3" id="checkbox3"> </li>
    <div class="no-show">
      <li class="no-show"> <p>Second 20 Minutes </p>   <input type="checkbox" name="b2" id="checkbox4"> </li>
    <li class="no-show"> <p>Third 20 Minutes </p>  <input type="checkbox" name="b3" id="checkbox5"> </li>
    </div>
    
    <!-- <li class="save"> <input class="input" type="submit" value="Save Progress" id="htmla"></li> -->
    <input class="input" type="submit" value="Save " id="htmla">
  </ul>
<h5>Prepare for an audio Chat</h5>
<ul>
  <li> <a href="" >Schedule an appointment </a>  <input type="checkbox" name = "chat" id="checkbox6"> </li>

</ul>




</div>
<input class="input "type="submit" value="Submit " id="htmlb">
<div class="reminder">
 
</div>


    </div>



    </form>

     <% if (info.HTML) { %>
      <div class="check"><i class="far fa-check-square fa-10x"></i></div>
      <%} else { %>
      
        <div></div>
        <% } %>

</div>

    <% } %>
</section>

<section class="CSS-Basic"> 
  <% if (!info.Progress.CSSbasic) { %>
<div></div>
<%} else { %>
  <div class="complete-section">
 <form  method="POST"  action= "./tutorials">
 <div class="card">
   <h3>Section 2: CSS Beginner  <i class="fab fa-css3-alt"></i></h3>
<p> Good job <%= info.name %>, You finished the HTML portion.
  Now it gets a little harder. CSS is the design segment
  of the web, it allows you to change font, colors, layouts
 and much more. With CSS there are varying levels of knowledge.

</p>
<h3>This is the General hierarchy of CSS Knowledge</h3>
<ul>
 <li>-Vanilla CSS</li>
 <li>-CSS with SASS(optional)</li>
 <li>-CSS Frameworks (Bootstrap, Tailwind, Materialize)</li>
</ul>

<h3>For this segment, this will be your Gameplan </h3>
<ul class="gameplan">
 <li>Watch The Tutorial</li>
 <li>Do the practices</li>
 <li>Schedule a chat after you are done</li>
 <li>Prepare to move on to the next CSS section</li>
</ul>
<h3>Lets start with this HTML tutorial by Brad Traversy</h3>
<div class="video">

<iframe width="560" height="315" src="https://www.youtube.com/embed/yfoY53QXEnI?start=2" 
title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div class="checklist">

<h3> Check each task off after you are done and press submit</h3>
<h5>Video Tutorial</h5>
<ul>
<li> <p>First 20 Minutes </p>  <input type="checkbox" name="b1" id="checkbox11"> </li>
<li> <p>Second 20 Minutes </p>   <input type="checkbox" name="b2" id="checkbox12"> </li>
<li> <p>Third 20 Minutes </p>  <input type="checkbox" name="b3" id="checkbox13"> </li>
<li> <p>Practice 1</p>  <input type="checkbox" name="b4" id="checkbox14"> </li>
<li> <p>Practice 2</p>  <input type="checkbox" name="b5"id="checkbox15" > </li>
<!-- <li class="save"> </li> -->
<input class="input "type="submit" value="Save " id="css2a">
</ul>
<h5>Prepare for an audio Chat</h5>
<ul>
<li> <a href="" id="css2b">Schedule an appointment </a>  <input type="checkbox" name="chat" id="checkbox16"> </li>

</ul>




</div>
<input class="input "type="submit" value="Submit">
<div class="reminder">
 
</div>


</div>



</form>
<% if (info.CSSBasic) { %>
  <div class="check"><i class="far fa-check-square fa-10x"></i></div>
  <%} else { %>
  
    <div></div>
    <% } %>
</div> 
<% } %>
</section>

<section class="CSS Intermediate"> 
    <% if (!info.Progress.CSSIntermediate) { %>
  <div></div>
  <%} else { %>
    <div class="complete-section">
    <form  method="POST"  action= "./tutorials" >
    <div class="card">
      <h3>Section 3: CSS Intermediate  <i class="fab fa-css3-alt"></i></h3>
  <p> Good job <%= info.name %>, You finished the Beginner portion.
     Now it gets a little harder. This portion of CSS involves dealing with page layouts.
     Grid and Flexbox are the most widely used layout structures for CSS designs. Make sure
     you fully understand margins and padding as both Grid and Flexbox modify them.
     
     Understand that flexbox and Grid are not higher level concepts in CSS. They are used in almost
     every Web page you will design with CSS. Every project you do will almost certainly contain one of
     Grid box or Flex.  <strong style="color:orangered;">Your understanding of Flexbox and Grid is a direct reflection of how often 
       you practice coding website designs.
     </strong>

  </p>
  <h3>This is the the list of concepts for the next phase</h3>
  <ul>
    <li>-CSS Grid</li>
    <li>-CSS Flexbox</li>
   

  <h3>For this segment, this will be your Gameplan </h3>
  <ul class="gameplan">
    <li>Watch The Tutorial</li>
    <li>Do the practices</li>
    <li>Schedule a chat after you are done</li>
    <li>Prepare to move on to the next CSS section</li>
  </ul>
  <h3>Lets start with this Grid tutorial by Brad Traversy</h3>
<div class="video">

<iframe width="560" height="315" src="https://www.youtube.com/embed/jV8B24rSN5o" 
title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<h3>Flexbox tutorial by Brad Traversy</h3>
<div class="video">
<iframe width="560" height="315" src="https://www.youtube.com/embed/JJSoEo8JSnc" 
title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

</div>


<div class="checklist">

<h3> Check each task off after you are done and press submit</h3>
<h5>Video Tutorial</h5>
<ul>
  <li> <p>Grid Tutorial </p>  <input type="checkbox" name="b1" id="checkbox21"> </li>
  <li> <p>Flexbox Tutorial</p>   <input type="checkbox" name="b2" id="checkbox22"> </li>
  <li> <p>Practice 1 </p>  <input type="checkbox" name="b3" id="checkbox23" > </li>
  <li> <p>Practice 2</p>  <input type="checkbox" name="b4" id="checkbox24" > </li>
  <li> <p>Practice 3</p>  <input type="checkbox" name="b5" id="checkbox25"> </li>
  <!-- <li class="save"> </li> -->
  <input class="input "type="submit" value="Save " id="css2a">
</ul>
<h5>Prepare for an audio Chat</h5>
<ul>
<li> <a href="" id="css2b">Schedule an appointment </a>  <input type="checkbox" name="chat" id="checkbox26"> </li>

</ul>




</div>
<input class="input "type="submit" value="Submit">
<div class="reminder">
  
</div>


  </div>



  </form>
  <% if (info.CSSIntermediate) { %>
<div class="check"><i class="far fa-check-square fa-10x"></i></div>
<%} else { %>

  <div></div>
  <% } %>
</div>
  <% } %>
</section>

<section class="CSS Advanced"> 
  <% if (!info.Progress.CSSAdvanced) { %>
<div></div>
<%} else { %>
  <div class="complete-section">
  <form  method="POST"  action= "./tutorials" >
  <div class="card">
    <h3>Section 4: CSS Advanced <i class="fab fa-css3-alt"></i></h3>
<p> Good job <%= info.name %>, You continue the progress.
   Now that you started to develop a sense of how CSS works, It is time to learn a few more tricks.
   
 CSS is all about your ability to make a website look exactly how you want to. 
   

</p>
<h3>here are some key tools to use when designing a website </h3>
<ul>
  <li>-Relative and absolute positions</li>
  <li>-Responsive Media Queries</li>
  <li>-Animations,Transitions, and hover  effects</li>

 

<h3>For this segment, this will be your Gameplan </h3>
<ul class="gameplan">
  <li>Watch The Tutorial </li>
  <li>Clone a Website of your choice using the tools you learned</li>
  <li>Schedule a chat after you are done</li>
  <li>Prepare to move on to Javascript</li>
</ul>
<h3>Lets start with this Website Clone Tutorial by Brad Traversy</h3>
<div class="video">

  <iframe width="560" height="315" src="https://www.youtube.com/embed/p0bGHP-PXD4" 
  title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>



<div class="checklist">

<h3> Check each task off after you are done and press submit</h3>
<h5>Video Tutorial</h5>
<ul>
<li> <p>First 30 minutes </p>  <input type="checkbox" name="b1" id="checkbox31"> </li>
<li> <p>Second 30 minutes</p>   <input type="checkbox" name="b2" id="checkbox32"> </li>
<li> <p>Third 30 minutes </p>  <input type="checkbox" name="b3" id="checkbox33" > </li>
<li> <p>Final 30 minutes(Ignore Netify deployment)</p>  <input type="checkbox" name="b4" id="checkbox34" > </li>
<li> <p>Clone a Website of your choice</p>  <input type="checkbox" name="b5" id="checkbox35"> </li>
<!-- <li class="save"> </li> -->
<input class="input "type="submit" value="Save " id="css2a">
</ul>
<h5>Prepare for an audio Chat</h5>
<ul>
<li> <a href="" id="css2b">Schedule an appointment </a>  <input type="checkbox" name="chat" id="checkbox36"> </li>

</ul>




</div>
<input class="input "type="submit" value="Submit">
<div class="reminder">
  
</div>


</div>



</form>
<% if (info.CSSAdvanced) { %>
<div class="check"><i class="far fa-check-square fa-10x"></i></div>
<%} else { %>

<div></div>
<% } %>
</div>
<% } %>
</section>

<section class="JavaScript Basic"> 
  <% if (!info.Progress.JavascriptB) { %>
<div></div>
<%} else { %>
  <div class="complete-section">
  <form  method="POST"  action= "./tutorials" >
  <div class="card">
    <h3>Section 5: Javascript  <i class="fab fa-js fa-2x" style="color:yellow"></i></h3>
<p> Congratulations <%= info.name %>,You have successfully completed HTML and CSS.
  Now we get to the coding part; JavaScript. You finished HTML and CSS which are syntax and markup languages.  Javascript 
  on the other hand, is a coding language and will require more understanding and focus. 
  Javascript codes the functional parts of websites. For example, If you wanted the webpage to turn blue after a click,
  Javascript is what you would use to code that action.    
  For this segment,  you will learn the basics of Javascript and how it stores simple data like numbers and names.  
   

</p>
<h3>The overall road-map for Javascript is as follows</h3>
<ul>
  <li>-Data storage and manipulation</li>
  <li>-Learning how Javascript can modify the HTML and CSS</li>
  <li>-Higher order Javascript functions</li>
 

<h3>For this segment, this will be your Gameplan </h3>
<ul class="gameplan">
  <li>Watch The Tutorial</li>
  <li>Do the practices</li>
  <li>Schedule a chat after you are done</li>
  <li>Prepare to move on </li>
</ul>
<h3>Lets start with this Javascript tutorial by Brad Traversy</h3>
<div class="video">

<iframe width="560" height="315" src="https://www.youtube.com/embed/hdI2bqOjy3c" 
title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>




<div class="checklist">

<h3> Check each task off after you are done and press submit</h3>
<h5>Video Tutorial</h5>
<ul>
<li> <p>First 20 minutes</p>  <input type="checkbox" name="b1" id="checkbox41"> </li>
<li> <p>Second 20 minutes</p>   <input type="checkbox" name="b2" id="checkbox42"> </li>
<li> <p>Third 20 minutes </p>  <input type="checkbox" name="b3" id="checkbox43" > </li>
<li> <p>Forth 20 minutes</p>  <input type="checkbox" name="b4" id="checkbox44" > </li>
<li> <p>Final 20 minutes</p>  <input type="checkbox" name="b5" id="checkbox45"> </li>
<!-- <li class="save"> </li> -->
<input class="input "type="submit" value="Save " id="css2a">
</ul>
<h5>Prepare for an audio Chat</h5>
<ul>
<li> <a href="" id="css2b">Schedule an appointment </a>  <input type="checkbox" name="chat" id="checkbox46"> </li>

</ul>




</div>
<input class="input "type="submit" value="Submit">
<div class="reminder">
  
</div>


</div>



</form>
<% if (info.JSBasic) { %>
<div class="check"><i class="far fa-check-square fa-10x"></i></div>
<%} else { %>

<div></div>
<% } %>
</div>
<% } %>
</section>

<section class="JavaScript Intermediate"> 
  <% if (!info.Progress.JavascriptM) { %>
<div></div>
<%} else { %>
  <div class="complete-section">
  <form  method="POST"  action= "./tutorials" target="uploader_iframe">
  <div class="card">
    <h3>Section 6: Javascript Intermediate <i class="fab fa-js fa-2x" style="color:yellow"></i></h3>
<p> Good job <%= info.name %>, Now that you understand data storage and manipulation in JavaScript, It time to
  move on to the next part: Understanding how Javascript interacts and modifies with HTML and CSS. This is referred
  to as <strong style="color:orangered">DOM Manipulation</strong>. 


</p>
<h3>DOM Manipulation comprises of 3 key aspects</h3>
<ul>
  <li>-Listening for events (Like a user click)</li>
  <li>-Taking in data from the user(Like name, age, choice selection...etc)</li>
  <li>-Modifying the HTML and/or CSS </li>
 

<h3>For this segment, this will be your Gameplan </h3>
<ul class="gameplan">
  <li>Watch The Tutorial</li>
  <li>Do the practices</li>
  <li>Schedule a chat after you are done</li>
  <li>Prepare for the final JS section</li>
</ul>
<h3>Lets start with this DOM Manipulation tutorial by WebDevSimplified</h3>
<div class="video">

  <iframe width="560" height="315" src="https://www.youtube.com/embed/y17RuWkWdn8"
   title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>




<div class="checklist">

<h3> Check each task off after you are done and press submit</h3>
<h5>Video Tutorial</h5>
<ul>
<li> <p>Watch Tutorial </p>  <input type="checkbox" name="b1" id="checkbox51"> </li>
<li> <p>Practice 1</p>   <input type="checkbox" name="b2" id="checkbox52"> </li>
<li> <p>Practice 2 </p>  <input type="checkbox" name="b3" id="checkbox53" > </li>
<li> <p>Practice 3</p>  <input type="checkbox" name="b4" id="checkbox54" > </li>
<li> <p>Practice 4</p>  <input type="checkbox" name="b5" id="checkbox55"> </li>
<!-- <li class="save"> </li> -->
<input class="input "type="submit" value="Save " id="css2a">
</ul>
<h5>Prepare for an audio Chat</h5>
<ul>
<li> <a href="" id="css2b">Schedule an appointment </a>  <input type="checkbox" name="chat" id="checkbox56"> </li>

</ul>




</div>
<input class="input "type="submit" value="Submit">
<div class="reminder">
  
</div>


</div>



</form>
<% if (info.JSIntermediate) { %>
<div class="check"><i class="far fa-check-square fa-10x"></i></div>
<%} else { %>

<div></div>
<% } %>
</div>
<% } %>
</section>

<section class="JavaScript Advanced"> 
  <% if (!info.Progress.JavascriptM) { %>
<div></div>
<%} else { %>
  <div class="complete-section">
  <form  method="POST"  action= "./tutorials">
  <div class="card">
    <h3>Section 7: Javascript Advanced <i class="fab fa-js fa-2x" style="color:yellow"></i></h3>
<p> You have come very far <%= info.name %>.  Javascript is all about understanding algorithms and
  making programs work as you want them to. One of the tools that make that possible are
  <strong style="color:orangered">Higher Order Array methods</strong>. They are very powerful
  and will make a whole list of functions easier for you to achieve. However none of that matters
  if you are not constantly coding new projects, so before you start learning higher order methods,
  try to code the following:

</p>
<h3>3 Projects to tests your JavasScript Knowledge</h3>
<ul style="font-size: 14px; display: flex; flex-direction: column; 
gap:10px; border:1px solid white; padding: 5px;">
  <li>-A simple to-do list that allows you to add or remove a to-do </li>
  <li>-An app that takes in an Array of users by name, age and gender and 
    will sort them by age/gender or by name depending on what button is clicked
  </li>
  <li>-A table of 4 teams and a form for the game results. After results are submitted
    the table immediately updates.
  </li>
  
 </ul>

<h3>For this segment, this will be your Gameplan </h3>
<ul class="gameplan">
  
  <li>Do the practices</li>
  <li>Watch The Tutorial</li>
  <li>Schedule a chat after you are done</li>
  <li>Prepare to start Backend Server-side programming</li>
</ul>
<h3>Lets start with this DOM Manipulation tutorial by WebDevSimplified</h3>
<div class="video">

  <iframe width="560" height="315"
   src="https://www.youtube.com/embed/rRgD1yVwIvE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>




<div class="checklist">

<h3> Check each task off after you are done and press submit</h3>
<h5>Video Tutorial</h5>
<ul>
<li> <p>Practice 1</p>  <input type="checkbox" name="b1" id="checkbox51"> </li>
<li> <p>Practice 2</p>   <input type="checkbox" name="b2" id="checkbox52"> </li>
<li> <p>Practice 3</p>  <input type="checkbox" name="b3" id="checkbox53" > </li>
<li> <p>Tutorial Part 1</p>  <input type="checkbox" name="b4" id="checkbox54" > </li>
<li> <p>Tutorial Part 2</p>  <input type="checkbox" name="b5" id="checkbox55"> </li>
<!-- <li class="save"> </li> -->
<input class="input "type="submit" value="Save " id="css2a">
</ul>
<h5>Prepare for an audio Chat</h5>
<ul>
<li> <a href="" id="css2b">Schedule an appointment </a>  <input type="checkbox" name="chat" id="checkbox56"> </li>

</ul>




</div>
<input class="input "type="submit" value="Submit">
<div class="reminder">
  

</div>


</div>



</form>
<% if (info.JSIntermediate) { %>
<div class="check"><i class="far fa-check-square fa-10x"></i></div>
<%} else { %>

<div></div>
<% } %>
</div>
<% } %>
</section>



      <iframe id="uploader_iframe" name="uploader_iframe" style="display: none;"></iframe>

</body>
<script>
 
  var row =<%-JSON.stringify(info)%> ;



const dataRow =[row.CHECKB1,row.CHECKB2,row.CHECKB3,row.CHECKB4,row.CHECKB5,row.CHECKBF ]
const checkboxes = [document.getElementById("checkbox1"),document.getElementById("checkbox2"),
document.getElementById("checkbox3"),document.getElementById("checkbox4"),
document.getElementById("checkbox5"),document.getElementById("checkbox6")]
const checkboxes2 = [document.getElementById("checkbox11"),document.getElementById("checkbox12"),
document.getElementById("checkbox13"),document.getElementById("checkbox14"),
document.getElementById("checkbox15"),document.getElementById("checkbox16")]
const checkboxes3 = [document.getElementById("checkbox21"),document.getElementById("checkbox22"),
document.getElementById("checkbox23"),document.getElementById("checkbox24"),
document.getElementById("checkbox25"),document.getElementById("checkbox26")]
const checkboxes4 = [document.getElementById("checkbox31"),document.getElementById("checkbox32"),
document.getElementById("checkbox33"),document.getElementById("checkbox34"),
document.getElementById("checkbox35"),document.getElementById("checkbox36")]
const checkboxes5 = [document.getElementById("checkbox41"),document.getElementById("checkbox42"),
document.getElementById("checkbox43"),document.getElementById("checkbox44"),
document.getElementById("checkbox45"),document.getElementById("checkbox46")]




function UpdateCheckMarks(values, set){

var arr =[]
if(set.Progress.HTML){
arr = checkboxes;
}
if (set.Progress.CSSbasic)
{  arr = checkboxes2;
}
if (set.Progress.CSSIntermediate)
{
  arr = checkboxes3
}

if (set.Progress.CSSAdvanced)
{
  arr = checkboxes4
}

if (set.Progress.JavascriptB)
{
  arr = checkboxes5
}

  for (var j=0; j<values.length; j++){
                      if (values[j] === true){ 

                      arr[j].checked = true;
  }                  else {
                      arr[j].checked = false;

                        }
                            }


}

UpdateCheckMarks(dataRow, row)

window.scrollTo(0,document.body.scrollHeight - 1500);


</script>
<script src="/public/assets/main.js"></script>
